@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");

:root {
  --color-primario: #fc7300;
  --color-secundario: #1f8a70;
  --color-terciario: #00425a;
  --color-texto: #181823;
  --color-fondo: #eff5f5;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-terciario);
}

/* MENU*/

.nav__responsive-ul {
  display: none;
}

nav {
  background-color: var(--color-primario);
  box-shadow: 0 3px 5px 1px rgb(114, 114, 114);
}

.nav__li {
  display: inline-block;
  padding: 12px;
  color: var(--color-terciario);
}

.nav__li:hover > a {
  color: #005777;
}
.nav__li:hover {
  color: #005777;
}

.nav__li a {
  color: var(--color-terciario);
  text-decoration: none;
  font-size: 15px;
}
.nav__li i {
  box-sizing: border-box;
  text-align: left;
  margin-right: 5px;
}

#body .nav_responsive-button-container {
  position: fixed;
  width: 100%;
  font-size: 20px;
  background-color: var(--color-primario);
  top: 0px;
  z-index: 100;
}

.nav_responsive-button-container {
  position: fixed;
  width: 100%;
  font-size: 20px;
  background-color: var(--color-primario);
  top: 0px;
  z-index: 100;
}

.nav_responsive-button {
  padding: 6px 2px;
  margin-top: 3px;
  text-align: center;
  width: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

/*Main*/

.section_container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.main_container {
  display: flex;
  height: 50vh;
  background: linear-gradient(rgba(0, 66, 90, 0.463), rgba(0, 66, 90, 0.458)),
    url(../img/institucion.jpg) no-repeat center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: scrollBackground 20s infinite linear;
}

@keyframes scrollBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.main__title {
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  text-align: center;
  text-shadow: 3px 3px 5px var(--color-texto);
  font-size: 20px;
  transform: translateY(-100%);
  animation: fadeInTitle 1s forwards;
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

main h2 {
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px 5px var(--color-texto);
  transform: translatex(-100%);
  animation: fadeInh2 1s forwards;
}

@keyframes fadeInh2 {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Aside*/
.aside {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo);
  background-size: auto;
  grid-row: span 4;
  align-items: center;
  padding: 10px;
  border: none;
  width: 90%;
  margin: 0 auto;
}

.aside_image{
  width: 90%;
  margin: 1px;
  padding: 10px;
}



/* Seccion quienes somos*/
#quienes-somos {
  background: var(--color-secundario);
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}



.main__section_quienes-somos_container {
  display: flex;
  align-items: center;
}

main section h3 {
  color: var(--color-primario);
  margin: 1rem 0.3rem 0 2rem;
  font-family: "Belanosima", Courier, monospace;
  font-size: 2rem;
  text-align: left;
  text-shadow: 1px 1px 2px var(--color-texto);
}

.quienes-somos_image {
  margin: 1rem;
  width: 40%;
  height: 40%;
  filter: grayscale(100%);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

main section div img:hover {
  transition: 1s;
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: 0.5s;
  box-shadow: 7px 7px 7px rgb(104, 103, 103);
  cursor: pointer;
}

main section p {
  margin: 0.5rem;
  padding: 0 0.3rem;
  display: inline;
  font-family: "Poppins New", Courier, monospace;
  font-size: 1rem;
  text-align: left;
}

/* Sección Por que elegirnos*/
#por-que-elegirnos {
  background-color: var(--color-terciario);
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}

.main__por-que-elegirnos_p {
  color: var(--color-fondo);
}

.por-que-elegirnos_container {
  display: flex;
  align-items: center;
}

.por-que-elegirnos_image {
  margin: 1rem;
  width: 40%;
  height: 40%;
  filter: grayscale();
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

/* Sección Propuesta Educativa */

.main__section_propuesta-educativa {
  background-color: var(--color-primario);
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}
.propuesta-educativa_h3 {
  color: #005777;
}

h5 {
  font-family: "Poppins", Courier, monospace;
  font-size: 1rem;
  padding: 0.5rem;
}

.propuesta-educativa-container {
  display: grid;
  width: 90%;
  height: fit-content;
  gap: 1.5rem;
  margin: 2rem auto 0.5rem auto;
  padding-bottom: 5rem;
  grid-template-rows: repeat(2, 45%);
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
  align-items: start;
  align-content: space-between;
  border-radius: 10px;
}

.propuesta-educativa-container .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.propuesta-educativa-container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(122, 122, 122);
}

.propuesta-educativa-container .item:hover img {
  transition: 2s;
  opacity: 0.3;
  filter: grayscale(100%);
}
.propuesta-educativa-container figcaption {
  position: absolute;
  top: 50px;
align-self: center;
  font-size: 1rem;
  color: white;
  opacity: 0;
  scale: 0;
}
.propuesta-educativa-container .item:hover figcaption {
  opacity: 1;
  scale: 100%;
  transition: 1s;
  color: var(--color-terciario);
  font-family: "Belanosima", Courier, monospace;
  font-size: 2.5rem;
}

/*Ultimas noticias*/

#ultimas-noticias {
  background-color: var(--color-terciario);
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}

.ultimas-noticias_container {
  display: flex;
  margin: 2rem;
}

h4 {
  font-family: "Belanosima", Courier, monospace;
  margin-bottom: 0.5rem;
}

.section_noticias_article {
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--color-secundario);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

/* pie de pagina*/

footer {
  animation: changeColor 15s infinite;
}

@keyframes changeColor {
  0% { background-color: var(--color-primario); } /* Color inicial (rojo) */
  50% { background-color: #ff9b49} /* Color intermedio (verde) */
  100% { background-color: var(--color-primario); } /* Color final (azul) */
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

footer h5 {
  font-family: "Belanosima", Courier, monospace;
  color: var(--color-fondo);
  font-size: 1rem;
}

.footer_redes,
.footer_location,
.footer_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div div a {
  display: inline-block;
  text-decoration: none;
}

footer ol {
  margin: 0;
  text-align: left;
  padding-left: 0;
}

footer li {
  display: block;
  list-style-type: none;
}

footer li:hover {
scale: 120%;
animation: rotate 1s
}

.footer_location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer_location_link {
  display: inline-block;
}

.footer_mapa {
  width: 50%;
  align-items: center;
  border-radius: 10px;
}


.menuflot{
  position: fixed;
  bottom: 50vh;
  background-color: rgb(255, 255, 255);
  bottom: 180px;
  left: 95vw;
  width: 10%;
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
  opacity: 0.4;
}
.menuflot:hover {
  transition: 1s;
  left: 90vw;
  opacity: 1;
}

.menuflot .sobre {
  width: 80%;
}

.whatsapp {
  position: fixed;
  right: 0;
  bottom: 40px;
  width: 40px;
  animation: rotate 5s infinite;
  animation-delay: 55s;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#flecha{
  position: fixed;
  left: 0;
  bottom: 50vh;
  width: 40px;
  animation: move 5s infinite;
  animation-delay: 55s;
}
@keyframes move {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
}

footer div div ol li a i {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-terciario);
}

/* Página formulario*/
#formulario {
  margin: 50px auto;
  width: 50%;
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  text-align: center;
  text-shadow: 1px 1px 3px var(--color-texto);
}

#body {
  background-image: url(../img/bacground_image_form.jpg);
  background-size: cover;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #1f8a70;
  border: 0.1rem solid #1f8a70;
}
textarea {
  color: #1f8a70;
}

textarea:focus {
  color: #eff5f5;
}
textarea::placeholder {
  color: #1f8a70;
}

input {
  color: #1f8a6f;
}
input::placeholder {
  color: #1f8a70;
}

input:focus {
  color: #eff5f5;
}

input:invalid,
textarea:invalid {
  border-color: red;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* media query*/
@media (max-width: 1800px) {
  .main__title {
    font-size: 8rem;
    top: 35%;
  }
  main h2 {
    font-size: 3rem;
    top: 65%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


}

@media (max-width: 1200px) {
  .main__title {
    font-size: 6rem;
    top: 50%;
  }
  main h2 {
    font-size: 2.5rem;
    top: 70%;
  }


  .propuesta-educativa-container .item:hover figcaption {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .nav__ul {
    display: none;
  }
  .nav__responsive-ul {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 37px;
    padding-top: 27px;
    height: 37px;
    list-style: none;
  }
  .nav__li-container {
    position: fixed;
    top: -1000px;
    height: calc(100vh -64px);
    background: rgba(255, 149, 63, 0.93);
    transition: all 1s;
    z-index: 1;
    width: 75%;
    padding-top: 27px;
    border-radius: 10px;
  }
  .nav__responsive-li {
    width: 100%;
    padding: 9px 10px;
  }
  .nav__responsive-li i {
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--color-terciario);
  }
  .nav__responsive-li a {
    color: var(--color-terciario);
    text-decoration: none;
    font-size: 15px;
  }
  .nav__responsive-ul:hover > .nav__li-container {
    top: -27px;
  }

  .main__title {
    font-size: 2.9rem;
    top: 50%;
  }
  .propuesta-educativa-container {
    align-items: end;
    grid-template-rows: repeat(1, 25%);
    grid-template-columns: repeat(1, 90%);
  }
  main h2 {
    font-size: 1.2rem;
    top: 60%;
  }
  main section div {
    flex-direction: column;
    align-items: center;
  }

  .quienes-somos_image {
    width: 95%;
  }

  .por-que-elegirnos_image {
    width: 95%;
  }

  main section h3 {
    text-align: center;
    font-size: 2rem;
  }
  header nav ul {
    display: block;
  }
  main section div img {
    width: 100%;
    height: 100%;
  }

  .section_container {
    display: grid;
    grid-template-columns: 100%;
  }

  .aside {
    display: none;
  }
  .propuesta-educativa-container .item:hover figcaption {
    font-size: 2rem;
  }

}

@media (max-width: 320px) {
  .main__title {
    font-size: 1.5rem;
    top: 40%;
  }
  .section_container {
    display: grid;
    grid-template-columns: 100%;
  }

  .aside {
    display: none;
  }

  main h2 {
    top: 45%;
    font-size: 1rem;
  }
  header nav ul {
    display: block;
  }
  .quienes-somos_image {
    width: 95%;
  }
  .por-que-elegirnos_image {
    width: 95%;
  }

  main section div {
    flex-direction: column;
    align-items: center;
  }
  main section h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  main section div img {
    width: 100%;
    height: 100%;
  }
  .propuesta-educativa-container .item:hover figcaption {
    font-size: 1.7rem;
  }

}
