@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");

:root {
  --color-primario: #fc7300;
  --color-secundario: #1f8a70;
  --color-terciario: #00425a;
  --color-texto: #181823;
  --color-fondo: #eff5f5;
}

body {
  margin: 0;
  padding: 0;
}

/* MENU*/

.header__nav {
  background-color: var(--color-terciario);
}

header nav ul {
  display: block;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  text-align: center;
}

header nav li {
  margin: 0.5rem 0;
  box-shadow: 2px 2px 3px var(--color-texto);
  border-radius: 5px;
}

header nav ul li a {
  display: block;
  font-family: "Poppins", Courier, monospace;
  padding: 0.2rem 0;
  width: 100%;
  text-decoration: none;
  color: var(--color-fondo);
}

header nav li:hover {
  margin: 0.5rem;
  box-shadow: 0.3px 0.3px 1px var(--color-terciario);
  border-radius: 10px;
}

header nav ul li a:hover {
  color: var(--color-primario);
}

/*fin menu*/

/* Main*/
.container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00425a72; /* Ajusta el color y la opacidad según tus preferencias */
}

.main__img {
  width: 100vw;
  filter: grayscale(100%);
}

.main__title {
  position: absolute;
  top: 30%; /* Alineación vertical */
  left: 50%; /* Alineación horizontal */
  transform: translate(-50%, -50%); /* Centrar el texto */
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  text-align: center;
  text-shadow: 3px 3px 5px var(--color-texto);
  white-space: nowrap;
}
main h2 {
  position: absolute;
  top: 35%; /* Alineación vertical */
  left: 50%; /* Alineación horizontal */
  transform: translate(-50%, -50%);
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px 5px var(--color-texto);
  white-space: nowrap;
}

/* Seccion quienes somos*/
#quienes-somos {
  background: #fc71000e;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.main__section_quienes-somos_container {
  display: flex;
  align-items: center;
}

main section h3 {
  color: var(--color-primario);
  margin: 1rem 1rem 0 2rem;
  font-family: "Belanosima", Courier, monospace;
  font-size: 2rem;
  text-align: left;
  text-shadow: 1px 1px 2px var(--color-texto);
}

.quienes-somos_image {
  margin: 1rem;
  width: 40%;
  height: 40%;
  filter: grayscale();
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

main section div img:hover {
  transition: 1s;
  filter: none;
}

main section p {
  margin: 0.5rem;
  padding: 0 0.3rem;
  display: inline;
  font-family: "Poppins New", Courier, monospace;
  font-size: 1rem;
  text-align: justify;
}

/* Sección Por que elegirnos*/
#por-que-elegirnos {
  background-color: #1f8a6f17;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.por-que-elegirnos_container {
  display: flex;
  align-items: center;
}

.por-que-elegirnos_image {
  margin: 1rem;
  width: 40%;
  height: 40%;
  filter: grayscale();
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

/* Sección Propuesta Educativa */
.main__section_propuesta-educativa {
  display: flex;
  align-items: center;
}

.propuesta-educativa_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: 1rem;
}

.propuesta-educativa_image {
  margin: 1rem;
  width: 95%;
  height: 40%;
  filter: grayscale();
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}
.propuesta-educativa_p {
  text-align: center;
}

.main__section_propuesta-educativa {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

#propuesta-educativa {
  background-color: #fc71001b;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.section__propuesta-educativa_container {
  flex-direction: column;
  background-color: #fc710019;
  margin: 9px;
}

.section__propuesta-educativa_container p {
  display: inline;
  text-align: center;
}

.imagen_propuesta-educativa {
  animation: color-change 5s infinite;
}

section div div p {
  text-align: center;
}

.propuesta-educativa_image:hover {
  animation: slide-up 2s ease-in-out;
}
.propuesta-educativa_image {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}

/*Ultimas noticias*/

#ultimas-noticias {
  background-color: #1f8a6f17;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  margin: 0.5rem;
  border-radius: 10px;
}
.ultimas-noticias_container {
  display: flex;
  margin: 1rem;
}

.ultimas-noticias_p {
  text-align: justify;
}

.section_noticias_article {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #fc710015;
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--color-texto);
}

/* pie de pagina*/

footer {
  background-color: #1f8a70;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

footer h5 {
  font-family: "Belanosima", Courier, monospace;
  color: var(--color-fondo);
  font-size: 1rem;
  margin: 0.5rem 0.3rem 0.5rem 0.3rem;
}

.footer_redes,
.footer_location,
.footer_contacto {
  width: 30%;
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  align-items: center;
}

footer div div a {
  display: inline-block;
  text-decoration: none;
}

footer ol {
  margin: 0;
text-align: left;
padding-left: 0;
}

footer li {
  display: block;
  list-style-type: none;
}

.footer_location{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer_location_link {
  display: inline-block;
}


.footer_mapa {
  width: 50%;
  align-items: center;
  border-radius: 10px;
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10%;
  animation: rotate 5s infinite;
  animation-delay: 55s;
}

/* Página formulario*/
#formulario {
margin: 1rem auto;
width: 50%;
  color: var(--color-primario);
  font-family: "Belanosima", Courier, monospace;
  text-align: center;
  text-shadow: 3px 3px 5px var(--color-texto);
}

#body{
  background-image: url(../img/bacground_image_form.jpg);
  background-size: cover;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit']{
  background-color: #1f8a70;
  border: 0.1rem solid #1f8a70;
}
textarea{
  color:#1f8a70;
}

textarea:focus{
  color:#eff5f5;
}
textarea::placeholder{
  color:#1f8a70;
}


input{
  color:#1f8a6f;
}
input::placeholder{
  color:#1f8a70;
}

input:focus{
color: #eff5f5;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*media query*/

@media (max-width: 1800px) {
  .main__title {
    font-size: 10rem;
    top: 35%;
  }
  main h2 {
    font-size: 4rem;
    top: 65%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  .main__title {
    font-size: 6rem;
    top: 50%;
  }
  main h2 {
    font-size: 2.5rem;
    top: 70%;
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 2.9rem;
    top: 50%;
  }
  main h2 {
    font-size: 1.2rem;
    top: 60%;
  }
  main section div {
    flex-direction: column;
    align-items: center;
  }

  .quienes-somos_image {
    width: 95%;
  }

  .por-que-elegirnos_image {
    width: 95%;
  }

  main section h3 {
    text-align: center;
    font-size: 2rem;
  }
  header nav ul {
    display: block;
  }
  main section div img {
    width: 100%;
    height: 100%;
  }
  .propuesta-educativa_container {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 1.5rem;
    top: 40%;
  }
  main h2 {
    top: 45%;
    font-size: 1rem;
  }
  header nav ul {
    display: block;
  }
  .quienes-somos_image {
    width: 95%;
  }
  .por-que-elegirnos_image {
    width: 95%;
  }

  main section div {
    flex-direction: column;
    align-items: center;
  }
  main section h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  main section div img {
    width: 100%;
    height: 100%;
  }
}
